<template>
  <div>
    <div class="container mx-auto py-8">
      <hr>
      <div v-if="page">
        <h1>{{page.title.rendered}}</h1>
        <p v-html="page.content.rendered">---</p>
      </div>
      <pre style="color:#ccc">
        {{page}}
      </pre>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import api from '~/api'

export default {
  components: {
  },
  head() {
    if(!this.data) {
      return {}
    }
    let title = this.data.title.rendered
    let meta = []
    // TODO: OG, canonical, move somewhere else
    if(typeof this.data.yoast != 'undefined') {
      if(this.data.yoast.title) {
        title = this.data.yoast.title
      }
      if(this.data.yoast.metadesc) {
        meta.push({ hid: 'description', name: 'description', content: this.data.yoast.metadesc })
      }
    }
    return {
      title: title,
      meta: meta,
    }
  },
  asyncData({route, store}) {
    return store.dispatch('getPage', route.path)
  },
  computed: mapState([
    'page',
  ]),
}
</script>
