<template>
  <nuxt-link v-bind:to="to" v-bind:class="classList">
    <slot></slot>
  </nuxt-link>
</template>

<script>
export default {
  props: [
    'mod',
    'to',
  ],
  data() {
    let data = {
      classList: ['btn bg-black text-white py-3 pl-6 pr-6 no-underline']
    }
    let mods = {
      cta: 'bg-green',
    }
    if(this.mod && typeof mods[this.mod] != 'undefined') {
      data.classList.push(mods[this.mod])
    }
    return data
  }
}
</script>
