<template>
  <nuxt-link to="/" class="flex items-center no-underline text-black">
    <Icon class="w-12" />
    <div class="px-2 text-2xl">WP</div>
  </nuxt-link>
</template>

<script>
import Icon from '~/assets/svg/dragon.svg';
export default {
  components: {
    Icon,
  },
}
</script>
