<template>
  <nav class="flex">
    <div v-for="item in (menuItems.length ? menuItems : items)" v-bind:key="item.id">
      <nuxt-link v-bind:to="item.url" class="p-2">{{item.title}}</nuxt-link>
    </div>
  </nav>
</template>

<script>

import api from '~/api'

export default {
  props: {
    slug: {
      type: String,
      default: null,
    },
    items: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  data() {
    return {
      menuItems: []
    }
  },
  created() {
    if(this.slug) {
      api.getMenu(this.slug).then(response => {
        this.menuItems = response.data
      })
    } else if(this.items) {
      this.menuItems = this.items
    }
  },
}
</script>
