<template>
  <div class="container mx-auto flex flex-row items-center pt-3">
    <Logo />
    <Nav v-bind:items="items" />
    <div class="ml-auto">
      <LinkButton to="/login">Login</LinkButton>
      <LinkButton to="/register" mod="cta">Sign up</LinkButton>
    </div>
  </div>
</template>

<script>

import Button from '~/components/Button.vue'
import LinkButton from '~/components/LinkButton.vue'
import Logo from '~/components/Logo.vue'
import Nav from '~/components/Nav.vue'

export default {
  props: ['items'],
  components: {
    Logo,
    Button,
    LinkButton,
    Nav,
  },
}
</script>
