/** ------------------------------------------------------------
  ##  TAILWIND CSS
  --------------------------------------------------------- */

@import '_tailwind-preflight';
@import '_tailwind-components';
@import '_tailwind-utilities';

/** ------------------------------------------------------------
  ##  CUSTOM CLASSES
  --------------------------------------------------------- */

.btn + .btn {
  @apply .ml-4;
}

.page-enter-active, .page-leave-active {
  transition: opacity .1s
}

.page-enter, .page-leave-active {
  opacity: 0
}

/* https://aykevl.nl/2014/09/fix-jumping-scrollbar */
@media screen and (min-width: 960px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}
