<template>
  <div>
    <TopNav v-bind:items="primaryMenu" />
    <nuxt/>
    <div class="p-4 text-center">
      Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
      <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import TopNav from '~/components/TopNav.vue'

export default {
  components: {
    TopNav,
  },
  computed: mapState([
    'primaryMenu'
  ]),
}
</script>

<style>
html {
  background-color: config('colors.white');
  font-family: config('fonts.sans');
}
</style>
