<template>
  <div>
    <div class="container mx-auto py-8">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius laborum unde molestias excepturi a ipsum, nesciunt ducimus odit libero inventore!</p>
    </div>
  </div>
</template>

<script>
export default {
  head: {
    title: 'Welcome',
    meta: [{ hid: 'description', name: 'description', content: 'Welcome' }]
  },
}
</script>
